button {
  background-color: #4ecdc4; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
  display: inline;
  font-size: 18px;
   text-align: center;
   justify-content: center;
   align-items: center;
}

.align-items {
    margin: auto;
}

input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: whitesmoke;
  color: white;
}
